Repository DiamondLightSource/smartem-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier

biome-check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(smartem): ellipsis + tooltip for long model names in the weights matrix
  apps/smartem/src/components/weights/WeightsMatrix.tsx
Due: biome-check

feat(smartem): stable, aligned atlas/grid-square split layout
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/EmptySquarePanel.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
Due: biome-check

feat(smartem): titled grid-square preview panel with image viewer
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/components/spatial/SquarePreviewPanel.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
Due: biome-check

refactor(smartem): extract a generic PaneFrame for two-column views (#68)
  apps/smartem/src/components/layout/PaneFrame.tsx
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/EmptySquarePanel.tsx
  apps/smartem/src/components/spatial/LatentSpacePanel.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/components/spatial/layout.ts
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
Due: biome-check

fix(smartem): align spatial overlays, symmetric framing, smooth reflow
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/components/spatial/SquarePreviewPanel.tsx
  apps/smartem/src/hooks/useImageNaturalSize.ts
  apps/smartem/src/hooks/useSquareMapData.ts
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.index.tsx
Due: biome-check

fix(deps): clear OSV-flagged advisories in build/dev dependencies
  package-lock.json
  package.json
Due: biome-check

feat(smartem): add foil-hole latent-space panel to the square view
  apps/smartem/src/components/spatial/LatentSpacePanel.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/data/api-adapters.ts
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.index.tsx
Due: biome-check

feat(smartem): add grid-square image gallery under a Table/Gallery toggle
  apps/smartem/src/components/session/ViewSwitcher.tsx
  apps/smartem/src/routeTree.gen.ts
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares.gallery.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares.index.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares.tsx
Due: biome-check

feat(smartem): add an as-of-time slider to the foilhole quality histogram
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.predictions.tsx
Due: biome-check

feat(smartem): restore weight-chart time/even toggle, range slider, skeleton
  apps/smartem/src/components/weights/WeightsTimeline.tsx
  apps/smartem/src/routes/models.$modelName.tsx
Due: biome-check

feat(smartem): add Holes/Score columns and a predictions button to the squares table
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares.index.tsx
Due: biome-check

feat(smartem): add a latent-rep model picker to the atlas latent panel
  apps/smartem/src/components/spatial/LatentSpacePanel.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
Due: biome-check

feat(smartem): make workspace panels collapsible, removable and re-addable
  apps/smartem/src/components/workspace/WorkspaceView.tsx
Due: biome-check

chore(smartem): remove the legacy frontend app
  .github/workflows/release-smartem-frontend.yml
  Dockerfile
  apps/legacy/index.html
  apps/legacy/package.json
  apps/legacy/public/favicon.ico
  apps/legacy/public/fragment-screen-logo.png
  apps/legacy/public/mockServiceWorker.js
  apps/legacy/src/app.css
  apps/legacy/src/components/ApiVersionCheck.tsx
  apps/legacy/src/components/atlas.tsx
  apps/legacy/src/components/latentRep.tsx
  apps/legacy/src/components/navbar.tsx
  apps/legacy/src/components/theme.tsx
  apps/legacy/src/components/timeseries.tsx
  apps/legacy/src/main.tsx
  apps/legacy/src/mocks/browser.ts
  apps/legacy/src/mocks/index.ts
  apps/legacy/src/routeTree.gen.ts
  apps/legacy/src/routes/__root.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.atlas.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.gridsquares.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.index.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.square.$squareId.predictions.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.squares.$squareId.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.workspace.tsx
  apps/legacy/src/routes/acquisitions.$acqId.tsx
  apps/legacy/src/routes/index.tsx
  apps/legacy/src/routes/models.$modelName.grids.$gridId.weights.tsx
  apps/legacy/src/routes/models.tsx
  apps/legacy/tsconfig.json
  apps/legacy/vite.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: biome-check, prettier

docs: correct the dev-server port in the README quick start
  README.md
Due: prettier

chore: run Renovate with GITHUB_TOKEN instead of a PAT
  .github/workflows/renovate.yml
Due: prettier

chore: add self-hosted Renovate workflow (GITHUB_TOKEN)
  .github/workflows/renovate.yml
Due: prettier

feat(smartem): show suggested acquisition order in the foilhole table
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares.index.tsx
Due: biome-check

feat(smartem): show within-square rank alongside the grid-wide order index
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares.index.tsx
Due: biome-check

feat(smartem): add an acquisition-path overlay to the square map
  apps/smartem/src/components/spatial/AcquisitionPathOverlay.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/components/spatial/SquarePreviewPanel.tsx
  apps/smartem/src/data/api-adapters.ts
  apps/smartem/src/hooks/useSquareMapData.ts
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.index.tsx
Due: biome-check

refactor: replace vite-tsconfig-paths plugin with a plain resolve alias
  apps/smartem/package.json
  apps/smartem/vite.config.ts
  package-lock.json
Due: biome-check

feat(smartem): add gradient hole colouring and sequence break indicators
  apps/smartem/src/components/spatial/AcquisitionPathOverlay.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
Due: biome-check

docs: add interim security policy placeholder
  SECURITY.md
Due: prettier

feat(smartem): gradient hole colouring and sequence break indicators (#141)
  apps/smartem/src/components/spatial/AcquisitionPathOverlay.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
Due: biome-check

Path conditions:
  biome-check: any of: *.{ts,tsx,js,jsx,json}
  prettier: any of: *.{yml,yaml,md}
