Repository DiamondLightSource/smartem-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier

biome-check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat: header logos, Depositions nav, settings menu
  apps/smartem/public/diamond-logo.ico
  apps/smartem/public/fragment-screen-logo.png
  apps/smartem/src/components/shell/Header.tsx
Due: biome-check

feat: timeline range toggle (today / week / month)
  apps/smartem/src/routes/index.tsx
Due: biome-check

feat: session detail views with spatial drill-down navigation
  apps/smartem/src/components/session/ContextStrip.tsx
  apps/smartem/src/components/session/ViewSwitcher.tsx
  apps/smartem/src/components/shell/Header.tsx
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/data/mock-session-detail.ts
  apps/smartem/src/routeTree.gen.ts
  apps/smartem/src/routes/index.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.index.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.squares.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.squares_.$squareId.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.tsx
  apps/smartem/src/routes/sessions.$sessionId.index.tsx
  apps/smartem/src/routes/sessions.$sessionId.tsx
  apps/smartem/src/routes/sessions.index.tsx
  apps/smartem/src/routes/sessions.tsx
Due: biome-check

refactor: panel spacing, card styling, and centralised gray colour tokens
  apps/smartem/src/components/foilhole/FoilholeDetail.tsx
  apps/smartem/src/components/predictions/PredictionsView.tsx
  apps/smartem/src/components/session/ContextStrip.tsx
  apps/smartem/src/components/session/ViewSwitcher.tsx
  apps/smartem/src/components/shell/Header.tsx
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/LatentSpacePanel.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/components/workspace/WorkspaceView.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.index.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.tsx
  apps/smartem/src/routes/acquisitions.index.tsx
  apps/smartem/src/routes/index.tsx
  apps/smartem/src/theme.ts
Due: biome-check

feat: instrument view toggle, multi-select, session-instrument highlighting
  apps/smartem/src/routes/index.tsx
Due: biome-check

feat: instrument panel refinements
  apps/smartem/src/routes/index.tsx
Due: biome-check

feat: add Keycloak authentication to smartem app
  apps/smartem/.env.example
  apps/smartem/package.json
  apps/smartem/src/auth/AuthGate.tsx
  apps/smartem/src/auth/AuthProvider.tsx
  apps/smartem/src/auth/config.ts
  apps/smartem/src/auth/index.ts
  apps/smartem/src/auth/types.ts
  apps/smartem/src/components/shell/Header.tsx
  apps/smartem/src/main.tsx
  package-lock.json
  packages/api/src/index.ts
  packages/api/src/mutator.ts
Due: biome-check

chore: delete enhancements.md legacy analysis
  enhancements.md
Due: prettier

Fix renovatebot/github-action version to v46.1.5
  .github/workflows/renovate.yml
Due: prettier

Migrate from Dependabot to Renovate (self-hosted)
  .github/dependabot.yml
  .github/workflows/renovate.yml
  renovate.json
Due: biome-check, prettier

chore: switch to org-wide Renovate app, drop self-hosted workflow
  .github/workflows/renovate.yml
Due: prettier

chore: regenerate package-lock.json for Node.js 22.12+
  package-lock.json
Due: biome-check

feat: wire data browser pages to real backend API
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.index.tsx
  apps/smartem/src/routes/acquisitions.index.tsx
Due: biome-check

fix: remove unused type imports and non-null assertion
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.index.tsx
Due: biome-check

feat: add favicon from eBIC PATo
  apps/smartem/index.html
  apps/smartem/public/favicon.png
Due: none

security: pin axios to 1.13.6 to avoid compromised versions
  package-lock.json
  packages/api/package.json
Due: biome-check

fix: bump vulnerable dependencies to patched versions
  package-lock.json
  packages/api/package.json
Due: biome-check

chore: drop trufflehog and detect-secrets, consolidate on gitleaks
  .github/workflows/leaked-secrets-scan.yml
  .secrets.baseline
  lefthook.yml
Due: prettier

fix(ci): remove continue-on-error from gitleaks job
  .github/workflows/leaked-secrets-scan.yml
Due: prettier

fix: correct Renovate preset path and migrate matchPackagePatterns
  renovate.json
Due: biome-check

fix(api): replace @ts-expect-error in mutator with typed CancellablePromise
  packages/api/src/mutator.ts
Due: biome-check

chore(frontend): wire ReactQueryDevtools into both apps
  apps/legacy/package.json
  apps/legacy/src/routes/__root.tsx
  apps/smartem/package.json
  apps/smartem/src/routes/__root.tsx
  package-lock.json
  packages/api/package.json
Due: biome-check

refactor(legacy): drop React. namespace from hook calls
  apps/legacy/src/components/atlas.tsx
  apps/legacy/src/components/latentRep.tsx
  apps/legacy/src/components/navbar.tsx
  apps/legacy/src/components/timeseries.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.atlas.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.gridsquares.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.index.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.square.$squareId.predictions.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.squares.$squareId.tsx
  apps/legacy/src/routes/acquisitions.$acqId.grids.$gridId.workspace.tsx
  apps/legacy/src/routes/index.tsx
  apps/legacy/src/routes/models.$modelName.grids.$gridId.weights.tsx
Due: biome-check

feat(smartem): add /models heatmap matrix with mock weights data
  apps/smartem/src/components/weights/WeightsMatrix.tsx
  apps/smartem/src/components/weights/cellColor.ts
  apps/smartem/src/data/mock-model-weights.ts
  apps/smartem/src/routeTree.gen.ts
  apps/smartem/src/routes/models.tsx
Due: biome-check

Path conditions:
  biome-check: any of: *.{ts,tsx,js,jsx,json}
  prettier: any of: *.{yml,yaml,md}
