Repository DiamondLightSource/smartem-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier

biome-check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(deps): bump axios 1.15.1 -> 1.15.2 and fast-uri 3.1.0 -> 3.1.2
  package-lock.json
Due: biome-check

security: pin @tanstack/history to 1.161.4 (GHSA-rmmr-r34h-pfm5)
  package-lock.json
  package.json
Due: biome-check

feat: add Keycloak authentication to smartem app
  apps/smartem/.env.example
  apps/smartem/package.json
  apps/smartem/src/auth/AuthGate.tsx
  apps/smartem/src/auth/AuthProvider.tsx
  apps/smartem/src/auth/config.ts
  apps/smartem/src/auth/index.ts
  apps/smartem/src/auth/types.ts
  apps/smartem/src/components/shell/Header.tsx
  apps/smartem/src/main.tsx
  package-lock.json
  packages/api/src/index.ts
  packages/api/src/mutator.ts
Due: biome-check

chore: delete enhancements.md legacy analysis
  enhancements.md
Due: prettier

config: use real Keycloak realm and client ID
  apps/smartem/.env.example
  apps/smartem/src/auth/config.ts
Due: biome-check

fix: use hidden iframe for silent SSO and fix init failure no-op login
  apps/smartem/public/silent-check-sso.html
  apps/smartem/src/auth/AuthProvider.tsx
Due: biome-check

fix(auth): disable iframe SSO checks to break redirect loop
  apps/smartem/src/auth/AuthProvider.tsx
Due: biome-check

feat(auth): block app contents until user is authenticated
  apps/smartem/src/auth/AuthGate.tsx
Due: biome-check

chore(app): add version field and version.ts to @smartem/app
  apps/smartem/package.json
  apps/smartem/src/version.ts
Due: biome-check

feat(serve): replace Dockerfile with nginx-alpine SPA setup
  .dockerignore
  .gitignore
  Dockerfile
  apps/smartem/nginx.conf
  scripts/write-version-json.mjs
Due: none

feat(release): add release-smartem-frontend workflow
  .github/workflows/release-smartem-frontend.yml
Due: prettier

fix(release): generate API client before typecheck and SPA build
  .github/workflows/release-smartem-frontend.yml
  Dockerfile
Due: prettier

fix(docker): unblock release build on main
  Dockerfile
Due: none

chore: rename Keycloak client SmartEM -> SmartEM_User
  apps/smartem/.env.example
  apps/smartem/src/auth/config.ts
Due: biome-check

feat(config): runtime config + nginx /api proxy for k8s deploy
  Dockerfile
  apps/smartem/.env.example
  apps/smartem/nginx.conf
  apps/smartem/package.json
  apps/smartem/public/config.json
  apps/smartem/src/auth/AuthProvider.tsx
  apps/smartem/src/auth/config.ts
  apps/smartem/src/auth/index.ts
  apps/smartem/src/main.tsx
  apps/smartem/src/version.ts
  packages/api/src/mutator.ts
Due: biome-check

fix(nginx): strip /api/ prefix when proxying via variable upstream
  apps/smartem/nginx.conf
Due: none

feat(smartem): add /models heatmap matrix with mock weights data
  apps/smartem/src/components/weights/WeightsMatrix.tsx
  apps/smartem/src/components/weights/cellColor.ts
  apps/smartem/src/data/mock-model-weights.ts
  apps/smartem/src/routeTree.gen.ts
  apps/smartem/src/routes/models.tsx
Due: biome-check

Path conditions:
  biome-check: any of: *.{ts,tsx,js,jsx,json}
  prettier: any of: *.{yml,yaml,md}
