Repository DiamondLightSource/smartem-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier

biome-check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore(ci): make detect-secrets non-blocking
  .github/workflows/leaked-secrets-scan.yml
Due: prettier

chore(ci): add gitleaks as parallel secret scanner
  .github/workflows/leaked-secrets-scan.yml
  .gitleaks.toml
  lefthook.yml
Due: prettier

chore(ci): add trufflehog as parallel secret scanner
  .github/workflows/leaked-secrets-scan.yml
  lefthook.yml
Due: prettier

chore(ci): use pipx for detect-secrets install
  .github/workflows/leaked-secrets-scan.yml
Due: prettier

Migrate from Dependabot to Renovate (self-hosted)
  .github/dependabot.yml
  .github/workflows/renovate.yml
  renovate.json
Due: biome-check, prettier

Fix renovatebot/github-action version to v46.1.5
  .github/workflows/renovate.yml
Due: prettier

Add Keycloak authentication infrastructure to smartem app
  apps/smartem/.env.example
  apps/smartem/package.json
  apps/smartem/src/auth/AuthGate.tsx
  apps/smartem/src/auth/AuthProvider.tsx
  apps/smartem/src/auth/config.ts
  apps/smartem/src/auth/index.ts
  apps/smartem/src/auth/types.ts
  apps/smartem/src/main.tsx
  apps/smartem/src/routes/__root.tsx
  package-lock.json
  packages/api/src/index.ts
  packages/api/src/mutator.ts
Due: biome-check

fix: resolve TypeScript 6.0 compatibility issues
  apps/legacy/package.json
  apps/legacy/tsconfig.json
  apps/smartem/package.json
  apps/smartem/src/mocks/browser.ts
  apps/smartem/tsconfig.json
  package-lock.json
  package.json
  packages/api/package.json
Due: biome-check

fix: remove stale vite 7 dependency pulling vulnerable rollup
  package-lock.json
Due: biome-check

chore: delete enhancements.md legacy analysis
  enhancements.md
Due: prettier

feat: static dashboard concept with shell chrome and mock data
  apps/smartem/src/components/shell/Header.tsx
  apps/smartem/src/data/mock-dashboard.ts
  apps/smartem/src/routes/__root.tsx
  apps/smartem/src/routes/index.tsx
  apps/smartem/src/theme.ts
Due: biome-check

feat: resizable panels, smaller microscopes, expandable sessions
  apps/smartem/src/routes/index.tsx
Due: biome-check

feat: three-quadrant HUD layout for dashboard
  apps/smartem/src/data/mock-dashboard.ts
  apps/smartem/src/routes/index.tsx
Due: biome-check

feat: instrument view toggle, multi-select, session-instrument highlighting
  apps/smartem/src/routes/index.tsx
Due: biome-check

feat: timeline range toggle (today / week / month)
  apps/smartem/src/routes/index.tsx
Due: biome-check

feat: add microscope illustration to instrument tiles
  apps/smartem/src/components/widgets/MicroscopeIcon.tsx
  apps/smartem/src/routes/index.tsx
Due: biome-check

refactor: rename /sessions/ routes to /acquisitions/
  apps/smartem/src/components/session/ContextStrip.tsx
  apps/smartem/src/components/session/ViewSwitcher.tsx
  apps/smartem/src/routeTree.gen.ts
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.index.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.predictions.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.holes_.$holeId.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.index.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.workspace.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.index.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.tsx
  apps/smartem/src/routes/acquisitions.index.tsx
  apps/smartem/src/routes/acquisitions.tsx
  apps/smartem/src/routes/index.tsx
  apps/smartem/src/routes/sessions.tsx
Due: biome-check

feat: deep navigation, prediction overlays, and spatial visualization
  apps/smartem/src/components/foilhole/FoilholeDetail.tsx
  apps/smartem/src/components/predictions/PredictionsView.tsx
  apps/smartem/src/components/session/ContextStrip.tsx
  apps/smartem/src/components/session/ViewSwitcher.tsx
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/LatentSpacePanel.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/components/workspace/WorkspaceView.tsx
  apps/smartem/src/data/mock-session-detail.ts
  apps/smartem/src/routeTree.gen.ts
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.predictions.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.squares_.$squareId.holes_.$holeId.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.squares_.$squareId.index.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.squares_.$squareId.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.workspace.tsx
  apps/smartem/src/utils/heatmap.ts
  biome.json
Due: biome-check

fix: move both logos left-aligned before title, burger menu icon
  apps/smartem/src/components/shell/Header.tsx
Due: biome-check

feat: wire command palette to header search box
  apps/smartem/src/components/shell/Header.tsx
  apps/smartem/src/components/widgets/CommandPalette/CommandPalette.css
  apps/smartem/src/components/widgets/CommandPalette/CommandPalette.tsx
  apps/smartem/src/components/widgets/CommandPalette/index.ts
Due: biome-check

feat: replace sign-in with user role switcher for prototyping
  apps/smartem/src/components/shell/Header.tsx
Due: biome-check

feat: header logos, Depositions nav, settings menu
  apps/smartem/public/diamond-logo.ico
  apps/smartem/public/fragment-screen-logo.png
  apps/smartem/src/components/shell/Header.tsx
Due: biome-check

feat: instrument panel refinements
  apps/smartem/src/routes/index.tsx
Due: biome-check

refactor: panel spacing, card styling, and centralised gray colour tokens
  apps/smartem/src/components/foilhole/FoilholeDetail.tsx
  apps/smartem/src/components/predictions/PredictionsView.tsx
  apps/smartem/src/components/session/ContextStrip.tsx
  apps/smartem/src/components/session/ViewSwitcher.tsx
  apps/smartem/src/components/shell/Header.tsx
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/LatentSpacePanel.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/components/workspace/WorkspaceView.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.index.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.tsx
  apps/smartem/src/routes/acquisitions.index.tsx
  apps/smartem/src/routes/index.tsx
  apps/smartem/src/theme.ts
Due: biome-check

feat: session detail views with spatial drill-down navigation
  apps/smartem/src/components/session/ContextStrip.tsx
  apps/smartem/src/components/session/ViewSwitcher.tsx
  apps/smartem/src/components/shell/Header.tsx
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/data/mock-session-detail.ts
  apps/smartem/src/routeTree.gen.ts
  apps/smartem/src/routes/index.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.index.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.squares.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.squares_.$squareId.tsx
  apps/smartem/src/routes/sessions.$sessionId.grids.$gridId.tsx
  apps/smartem/src/routes/sessions.$sessionId.index.tsx
  apps/smartem/src/routes/sessions.$sessionId.tsx
  apps/smartem/src/routes/sessions.index.tsx
  apps/smartem/src/routes/sessions.tsx
Due: biome-check

fix: TypeScript 6.0 and msw compatibility
  apps/legacy/package.json
  apps/legacy/tsconfig.json
  apps/smartem/package.json
  apps/smartem/src/mocks/browser.ts
  apps/smartem/tsconfig.json
  package-lock.json
  package.json
  packages/api/package.json
Due: biome-check

Path conditions:
  biome-check: any of: *.{ts,tsx,js,jsx,json}
  prettier: any of: *.{yml,yaml,md}
