Repository DiamondLightSource/smartem-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, prettier

biome-check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat(smartem): render real atlas and grid-square images
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.index.tsx
Due: biome-check

chore(release): bump version to 0.3.0
  apps/smartem/package.json
  apps/smartem/src/version.ts
Due: biome-check

chore: gitignore local env override files
  .gitignore
Due: none

fix(smartem): fetch atlas & grid-square images with auth
  apps/smartem/src/hooks/useBlobObjectUrl.ts
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.index.tsx
Due: biome-check

fix(smartem): stop square Predictions tab crashing on populated squares
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.predictions.tsx
Due: biome-check

feat(square): highlight suggested foilholes in the square view
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.index.tsx
Due: biome-check

chore(smartem): self-host Inter font, drop Google Fonts CDN
  apps/smartem/index.html
  apps/smartem/package.json
  apps/smartem/src/main.tsx
  apps/smartem/src/theme.ts
  package-lock.json
Due: biome-check

chore(smartem): self-host Inter font, drop Google Fonts CDN (#121)
  apps/smartem/index.html
  apps/smartem/package.json
  apps/smartem/src/main.tsx
  apps/smartem/src/theme.ts
  package-lock.json
Due: biome-check

feat(spatial): loading indicator + synced image/overlay reveal
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.index.tsx
Due: biome-check

feat(spatial): loading indicator + synced image/overlay reveal (#122)
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.index.tsx
Due: biome-check

ci: bump actions/upload-artifact v5 to v7 in release workflow
  .github/workflows/release-smartem-frontend.yml
Due: prettier

ci: bump actions/upload-artifact v5 to v7 in release workflow (#123)
  .github/workflows/release-smartem-frontend.yml
Due: prettier

ci: clear remaining Node 20 action deprecations
  .github/workflows/leaked-secrets-scan.yml
  .github/workflows/release-smartem-frontend.yml
Due: prettier

ci: clear remaining Node 20 action deprecations (#124)
  .github/workflows/leaked-secrets-scan.yml
  .github/workflows/release-smartem-frontend.yml
Due: prettier

chore: add bundle analysis to apps/smartem
  .gitignore
  apps/smartem/package.json
  apps/smartem/vite.config.ts
  package-lock.json
Due: biome-check

ci: publish bundle analysis report as a release artefact
  .github/workflows/release-smartem-frontend.yml
  apps/smartem/vite.config.ts
Due: biome-check, prettier

chore: add bundle analysis to apps/smartem (local + CI) (#126)
  .github/workflows/release-smartem-frontend.yml
  .gitignore
  apps/smartem/package.json
  apps/smartem/vite.config.ts
  package-lock.json
Due: biome-check, prettier

feat(smartem): cross-model weight heatmap with history slider on /models
  apps/smartem/src/components/weights/WeightsMatrix.tsx
  apps/smartem/src/routes/models.index.tsx
Due: biome-check

feat(smartem): cross-model weight heatmap + history time-slider on /models (#127)
  apps/smartem/src/components/weights/WeightsMatrix.tsx
  apps/smartem/src/routes/models.index.tsx
Due: biome-check

feat(smartem): show selected grid square alongside the atlas
  apps/smartem/src/components/spatial/SquarePreviewPanel.tsx
  apps/smartem/src/hooks/useSquareMapData.ts
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.index.tsx
Due: biome-check

fix(smartem): align spatial overlays, symmetric framing, smooth reflow
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/components/spatial/SquarePreviewPanel.tsx
  apps/smartem/src/hooks/useImageNaturalSize.ts
  apps/smartem/src/hooks/useSquareMapData.ts
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.squares_.$squareId.index.tsx
Due: biome-check

feat(smartem): titled grid-square preview panel with image viewer
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/components/spatial/SquarePreviewPanel.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
Due: biome-check

feat(smartem): stable, aligned atlas/grid-square split layout
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/EmptySquarePanel.tsx
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
Due: biome-check

assets: issue-68 atlas/grid-square layout screenshots (not for merge)
  01-before-no-square-selected.png
  02-after-grid-square-selected.png
  03-responsive-1100px.png
Due: none

feat(smartem): tidy atlas/grid-square split view (#68)
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/EmptySquarePanel.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/components/spatial/layout.ts
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
Due: biome-check

chore(smartem): gate TanStack devtools behind VITE_DEVTOOLS, adopt react-router-devtools
  apps/smartem/.env.example
  apps/smartem/package.json
  apps/smartem/src/routes/__root.tsx
  package-lock.json
Due: biome-check

refactor(smartem): extract a generic PaneFrame for two-column views (#68)
  apps/smartem/src/components/layout/PaneFrame.tsx
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/EmptySquarePanel.tsx
  apps/smartem/src/components/spatial/LatentSpacePanel.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/components/spatial/layout.ts
  apps/smartem/src/routes/acquisitions.$acquisitionId.grids.$gridId.atlas.tsx
Due: biome-check

refactor(smartem): polish two-column pane chrome and model picker (#68)
  apps/smartem/src/components/layout/PaneFrame.tsx
  apps/smartem/src/components/spatial/AtlasMap.tsx
  apps/smartem/src/components/spatial/EmptySquarePanel.tsx
  apps/smartem/src/components/spatial/LatentSpacePanel.tsx
  apps/smartem/src/components/spatial/SquareMap.tsx
  apps/smartem/src/hooks/useSquareMapData.ts
Due: biome-check

fix(smartem): ellipsis + tooltip for long model names in the weights matrix
  apps/smartem/src/components/weights/WeightsMatrix.tsx
Due: biome-check

Path conditions:
  biome-check: any of: *.{ts,tsx,js,jsx,json}
  prettier: any of: *.{yml,yaml,md}
